.heart {
    --heart-color: rgb(255, 0, 76);
    --heart-shadow: 2px 2px 10px 4px rgba(238, 28, 28, 0.356);
    margin: 20vh auto 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: 16rem;
    height: 16rem;
    background-color: var(--heart-color);
    transform: rotate(-45deg);
    box-shadow: var(--heart-shadow)
}

.heart::before {
    content: "";
    position: relative;
    top: -8rem;
    left: 0;
    width: 16rem; height: 16rem;
    border-radius: 50%;
    background-color: var(--heart-color);
    display: block;
}

.heart::after {
    content: "";
    position: relative;
    top: -16rem;
    left: 8rem;
    width: 16rem; height: 16rem;
    border-radius: 50%;
    background-color: var(--heart-color);
    display: block;
    box-shadow: var(--heart-shadow);
}

.title, .inscribed {
    margin: 50px;
    color: rgb(255, 0, 76);
    font-size: larger;
    text-shadow: 0px 0px 10px 4px rgba(238, 28, 28, 0.356);
}

.inscribed {
    bottom: 0; right: 0;
    position: absolute;
}